{{ form_start(form) }}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="details" class="col-form-label">Project Details</label>
            {{ form_widget(form.details, {'attr': {'class': 'form-control', 'placeholder': 'Project Details'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label for="image" class="col-form-label">Project Image</label>
            {{ form_widget(form.image, {'attr': {'class': 'form-control', 'placeholder': 'Project Image'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-form-label">Description</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}