{% extends 'admin_base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{ path('projects_new') }}" class="dropdown-item">Create new</a>
                    </div>
                </div>
                <h4 class="mt-0 header-title">Projects</h4>
                <p class="text-muted font-14 mb-3">
                    Projects entries
                </p>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Details</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.id }}</td>
                                <td>{{ project.image }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.details }}</td>
                                <td>
                                    <a href="{{ path('projects_show', {'id': project.id}) }}">show</a>
                                    <a href="{{ path('projects_edit', {'id': project.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!--- end row -->

{% endblock %}
