{% extends 'admin_base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{ path('projects_index') }}" class="dropdown-item">Back to list</a>
                        <!-- item-->
                        <a href="{{ path('projects_edit', {'id': project.id}) }}" class="dropdown-item">Edit</a>
                        <!-- item-->
                        {{ include('projects/_delete_form.html.twig') }}
                    </div>
                </div>
                <h4 class="mt-0 header-title">Project entry</h4>
                <p class="text-muted font-14 mb-3">
                    {{project.description|slice(0,50)}}
                </p>

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ project.id }}</td>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <td>{{ project.image }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ project.description }}</td>
                            </tr>
                            <tr>
                                <th>Details</th>
                                <td>{{ project.details }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!--- end row -->
    
{% endblock %}
