{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

	<div class="main-container" id="main-container">
		<div id="main" class="main">
			
            <section id="login">
                    <div class="box">
                        <h2><i class="fa fa-sign-in"></i> Login</h2>
                    </div>
                    
                    <div class="content">
                        <div class="section-padding">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="title text-center">
                                            <h1>Log <span>in</span></h1>
                                            <p>Login to update website information. <a href="{{path('app_register')}}">Create account</a></p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                                        <div class="contact-form">
                                            <form method="post" action="#">
                                                {% if error %}
                                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                {% endif %}

                                                {% if app.user %}
                                                    <div class="mb-3">
                                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                                    </div>
                                                {% endif %}                                        
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Email Address" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <input type="password" placeholder="Subject" class="form-control" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                                </div>
                                                    <div class="checkbox mb-3">
                                                        <label>
                                                            <input type="checkbox" name="_remember_me"> Remember me
                                                        </label>
                                                    </div>
                                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                                                <button class="btn btn-primary" type="submit">
                                                    Sign in
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <span class="close"><i class="fa fa-times"></i></span>			
            </section>

            {% include('include/moreactions.html.twig') %}

		</div>
    </div>


{% endblock %}
