{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

	<div class="main-container" id="main-container">
		<div id="main" class="main">
			
		  <section id="login">
				<div class="box">
					<h2><i class="fa fa-sign-in"></i> Sign Up</h2>
				</div>
				
				<div class="content">
					<div class="section-padding">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="title text-center">
										<h1>Sign <span>up</span></h1>
										<p>Create an account or <a href="{{path('app_login')}}">login instead</a></p>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
									<div class="contact-form">
                                        {% for flashError in app.flashes('verify_email_error') %}
                                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                        {% endfor %}    
                                        {{ form_start(registrationForm) }}                                
											<div class="row">
												<div class="col-sm-12 col-md-6">
													<div class="form-group">
                                                        {{ form_widget(registrationForm.fname, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}}) }}
													</div>
												</div>
												<div class="col-sm-12 col-md-6">
													<div class="form-group">
                                                        {{ form_widget(registrationForm.lname, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}}) }}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12 col-md-6">
													<div class="form-group">
                                                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email Address'}}) }}
													</div>
												</div>
												<div class="col-sm-12 col-md-6">
													<div class="form-group">
                                                        {{ form_widget(registrationForm.phone, {'attr': {'placeholder': 'Phone Number', 'class': 'form-control'}}) }}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12 col-md-6">
													<div class="form-group">
                                                        {{ form_widget(registrationForm.career, {'attr': {'placeholder': 'Career', 'class': 'form-control'}}) }}
													</div>
												</div>
												<div class="col-sm-12 col-md-6">
													<div class="form-group">
                                                        {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Password', 'class': 'form-control'}}) }}
													</div>
												</div>
											</div>
                                            {{ form_row(registrationForm.agreeTerms) }}
                                            <button type="submit" class="btn">Register</button>
                                        {{ form_end(registrationForm) }}
    
                                        
                                        
                                        

        
    
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			  <span class="close"><i class="fa fa-times"></i></span>			
		  </section>

            {% include('include/moreactions.html.twig') %}
		</div>
    </div>


{% endblock %}
