<form method="post" action="{{ path('mymusic_delete', {'id': mymusic.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mymusic.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
