{{ form_start(form) }}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="title" class="col-form-label">Title</label>
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
        </div>
        <div class="form-group col-md-4">
            <label for="image" class="col-form-label">Image</label>
            {{ form_widget(form.image, {'attr': {'class': 'form-control', 'placeholder': 'Image'}}) }}
        </div>
        <div class="form-group col-md-4">
            <label for="audio" class="col-form-label">Audio</label>
            {{ form_widget(form.audio, {'attr': {'class': 'form-control', 'placeholder': 'Audio'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-form-label">Description</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}