<form method="post" action="{{ path('workexperience_delete', {'id': workexperience.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ workexperience.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
