{{ form_start(form) }}
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="jobtitle" class="col-form-label">Job title</label>
            {{ form_widget(form.jobtitle, {'attr': {'class': 'form-control', 'placeholder': 'Job title'}}) }}
        </div>
        <div class="form-group col-md-3">
            <label for="startyr" class="col-form-label">Start year</label>
            {{ form_widget(form.startyr, {'attr': {'class': 'form-control', 'placeholder': 'Start year'}}) }}
        </div>
        <div class="form-group col-md-3">
            <label for="endyr" class="col-form-label">Last year</label>
            {{ form_widget(form.endyr, {'attr': {'class': 'form-control', 'placeholder': 'Last year'}}) }}
        </div>
        <div class="form-group col-md-3">
            <label for="companyname" class="col-form-label">Company/Institution name</label>
            {{ form_widget(form.companyname, {'attr': {'class': 'form-control', 'placeholder': 'Company name'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label for="roles" class="col-form-label">Roles that you did here.</label>
        {{ form_widget(form.roles, {'attr': {'class': 'form-control', 'placeholder': 'Add roles'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
                  