{% extends 'admin_base.html.twig' %}

{% block title %}Edit Workexperience{% endblock %}

{% block body %}
    <!-- Form row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{ path('workexperience_index') }}" class="dropdown-item">Back to list</a>
                        <!-- item-->
                        {{ include('workexperience/_delete_form.html.twig') }}
                    </div>
                </div>
                <h4 class="m-t-0 header-title">Edit Workexperience</h4>
                <p class="text-muted mb-3 font-13">
                    Edit this entry
                </p>

                {{ include('workexperience/_form.html.twig', {'button_label': 'Update'}) }}

            </div>
        </div>
    </div>
    
{% endblock %}
