{% extends 'admin_base.html.twig' %}

{% block title %}Workexperience index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{ path('workexperience_new') }}" class="dropdown-item">Create new</a>
                    </div>
                </div>
                <h4 class="mt-0 header-title">Work Experience</h4>
                <p class="text-muted font-14 mb-3">
                    Past job entries
                </p>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Startyr</th>
                                <th>Endyr</th>
                                <th>Jobtitle</th>
                                <th>Companyname</th>
                                <th>Roles</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for workexperience in workexperiences %}
                            <tr>
                                <td>{{ workexperience.id }}</td>
                                <td>{{ workexperience.startyr }}</td>
                                <td>{{ workexperience.endyr }}</td>
                                <td>{{ workexperience.jobtitle }}</td>
                                <td>{{ workexperience.companyname }}</td>
                                <td>{{ workexperience.roles }}</td>
                                <td>
                                    <a href="{{ path('workexperience_show', {'id': workexperience.id}) }}">show</a>
                                    <a href="{{ path('workexperience_edit', {'id': workexperience.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!--- end row -->

{% endblock %}
