{% extends 'admin_base.html.twig' %}

{% block title %}Workexperience{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{ path('workexperience_index') }}" class="dropdown-item">Back to list</a>
                        <!-- item-->
                        <a href="{{ path('workexperience_edit', {'id': workexperience.id}) }}" class="dropdown-item">Edit</a>
                        <!-- item-->
                        {{ include('workexperience/_delete_form.html.twig') }}
                    </div>
                </div>
                <h4 class="mt-0 header-title">Education entry</h4>
                <p class="text-muted font-14 mb-3">
                    {{workexperience.jobtitle}}
                </p>

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ workexperience.id }}</td>
                            </tr>
                            <tr>
                                <th>Startyr</th>
                                <td>{{ workexperience.startyr }}</td>
                            </tr>
                            <tr>
                                <th>Endyr</th>
                                <td>{{ workexperience.endyr }}</td>
                            </tr>
                            <tr>
                                <th>Jobtitle</th>
                                <td>{{ workexperience.jobtitle }}</td>
                            </tr>
                            <tr>
                                <th>Companyname</th>
                                <td>{{ workexperience.companyname }}</td>
                            </tr>
                            <tr>
                                <th>Roles</th>
                                <td>{{ workexperience.roles }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!--- end row -->
    
{% endblock %}
