			<!-- Blog Details -->
			<div class="bl-panel-items" id="bl-panel-post-items">
			{% for song in mymusic %}
				<div data-panel="panel-1">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-9">
								<div class="content-block">
									<div class="single_post">
										<div class="post_thumb">
											<img src="dist/assets/images/{{song.image}}" alt="{{song.title}}" />
										</div><!--end post thumb-->
										<div class="meta">
											<span class="author">By: <a href="#">{{song.user.fullname}}</a></span>
											
											<span class="date">Posted: {{song.addedOn|date("M j, Y")}}</span>
										</div><!--end meta-->
										
										<h2>{{song.title}}</h2>
										
										<div class="post_desc">
											{{song.description}}
										</div><!--end post desc-->
										
										<div class="post_bottom">
											<ul>
												<li class="like">
													<a href="#">
														<i class="fa fa-download"></i>
													</a>
												</li>
												
												
												
											</ul>
										</div><!--end post bottom-->
										
									</div>
									
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-4 col-md-3">
								<div class="sidebar">

									<div class="sidebar-item">
										<h3>{{song.title}}</h3>
										{{song.description}}
									</div><!--end sidebar-item-->		
									<div class="sidebar-item">
										<h3>Details</h3>
										<ul class="archive-list">
											<li><a href="#"><i class="fa fa-user"></i> By: {{song.user.fullname}} </li>
											<li><a href="#"><i class="fa fa-calendar"></i> Posted: {{song.addedOn|date("M j, Y")}}</a></li>
											{% if song.audio|length > 3 %}
											<li><a href="dist/assets/audio/{{song.audio}}"><i class="fa fa-file-audio-o"></i> Download Audio</a></li>
											{% endif %}
										</ul>
									</div><!--end sidebar-item-->	
									
									
								</div><!--end sidebar-->
							</div>
							
						</div>
					</div>
				</div>
			{% endfor %}
								
				<nav>
					<span class="bl-next-post">Next Post</span>
					<span class="close"><i class="fa fa-times"></i></span>
				</nav>
			</div>
			<!-- End Blog Details -->
			
