			<!-- Blog -->
		  <section id="blog">
				<div class="box">
					<h2><i class="fa fa-music"></i> My music</h2>
				</div>
				
				<div class="content">
					<div class="section-padding">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="title text-center">
										<h1>My <span>Music</span></h1>
										<p>Here is a number of my works. Contact me on {{admin.phone}} or mail me at {{admin.email}} to have access to any of my works.</p>
									</div>
								</div>
							</div>
							
							<div class="row">
								{% for song in mymusic %}
								<div class="col-xs-6">
									<div class="post wow fadeInUp" data-panel="panel-{{song.id}}">
										<div class="post-thumb">
											<a href="#">
												<img alt="" src="dist/assets/images/{{song.image}}">
												<div class="post-overlay">
													<i class="fa fa-link"></i>
												</div>
											</a>
										</div><!--end post-thumb-->
										
										<div class="post-bottom">
											<h4>{{song.title}}</h4>
											<div class="post-meta">
												<ul>
													<li><i class="fa fa-user"></i> {{song.user.fullname}}</li>
													<li><i class="fa fa-calendar"></i> {{song.addedOn|date("M j, Y")}}</li>
													{% if song.audio|length > 3 %}<li><a href="dist/assets/audio/{{song.audio}}"><i class="fa fa-file-audio-o"></i> Audio</a></li>{% endif %}
												</ul>
												
											</div>
											<p>{{song.description|slice(0,50)}}... <a href="#">read more</a></p>
										</div><!--end post-bottom-->
										
									</div>
								</div> 
							{% endfor %}
								
							</div>
							
						</div>
					</div>
				</div>
				
			  <span class="close"><i class="fa fa-times"></i></span>			
		  </section>
			<!-- End Blog -->
			
