			<!-- Contact -->
		  <section id="contact-us">
				<div class="box">
					<h2><i class="fa fa-location-arrow"></i> Contact</h2>
				</div>
				
				<div class="content">
					<div class="section-padding">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="title text-center">
										<h1>Contact <span>me</span></h1>
										<p>You can call me on {{admin.phone}}, mail me at {{admin.email}} or fill the form below to contact me.</p>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
									<div class="contact-form">
										<form method="post" action="#">
											<div class="row">
												<div class="col-sm-12 col-md-6">
													<div class="form-group">
														<input type="text" placeholder="First Name" class="form-control" id="contactfname" name="contactfname">
													</div>
												</div>
												<div class="col-sm-12 col-md-6">
													<div class="form-group">
														<input type="text" placeholder="Last Name" class="form-control" id="contactlname" name="contactlname">
													</div>
												</div>
											</div>
											<div class="form-group">
												<input type="text" placeholder="Email Address" class="form-control" id="contactemail" name="contactemail">
											</div>
											
											<div class="form-group">
												<input type="text" placeholder="Subject" class="form-control" id="contactsubject" name="contactsubject">
											</div>
											<div class="form-group">
												<textarea placeholder="Your Message" cols="20" rows="6" id="contactmessage"  name="contactmessage" class="form-control"></textarea>
											</div>
											<input id="sendmessage" type="button" value="Send Message" class="btn btn-primary">
											
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			  <span class="close"><i class="fa fa-times"></i></span>			
		  </section>
			<!-- End Contact -->
			
