			<!-- Education -->
		  <section id="education">
				<div class="box">
					<h2><i class="fa fa-graduation-cap"></i> Education</h2>
				</div>
				
				<div class="content">
					<div class="section-padding">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="title text-center">
										<h1>Education</h1>
										<p>My music education background.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="timeline timeline-left gray-blue">
									{% for education in educations %}
										<div class="timeline-block">
											<i class="fa fa-graduation-cap"></i>
											<div class="timeline-icon"></div>
											<div class="timeline-content">
												<h4>{{education.grade}}</h4>
												<p>
													{{education.description}}
												</p>
												<div class="timeline-date">{{education.gradyear}}
													<h4 class="system_font_color">{{education.course}}</h4>
												</div>
											</div>
										</div>
									{% else %}
										<b>There are no entries for education. If you are the owner of this website, log in to your profile and update your information</b>
									{% endfor %}
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			  <span class="close"><i class="fa fa-times"></i></span>			
		  </section>
			<!-- End Education -->
			
