			<!-- Home -->
		  <section id="home">
				<div class="box">
					<h2><i class="fa fa-user"></i> About Me</h2>
				</div>
				<div class="content">
					<div id="banner" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active" data-stellar-background-ratio="0.5" style="background-image:url(img/banner/1.jpg);">
								<div class="caption-info">
									<div class="container">
										<div class="row">
											<div class="col-sm-12 col-md-8 col-md-offset-2">
												<div class="caption-info-inner text-center">
													<h1 class="cd-headline clip is-full-width animated flipInX">
														<span class="name-title">My name is {{admin.fullname}}</span>
														<span class=cd-words-wrapper>
															<b class="is-visible">I am a </b>
															{% for specialty in admin.specialties %}
															<b>{{specialty.title|title}}</b>
															{% endfor %}
														</span>
													</h1>

													<div class="social-link">
														<ul>
															<li><a href="{{admin.smfb|length > 3 ? admin.smfb : '#'}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
															<li><a href="{{admin.smtw|length > 3 ? admin.smtw : '#'}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
															<li><a href="{{admin.smli|length > 3 ? admin.smli : '#'}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
															<li><a href="{{admin.smin|length > 3 ? admin.smin : '#'}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
															<li><a href="{{path('app_login')}}"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
														</ul>
													</div>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div><!--end carousel-inner-->
					</div>

					<div class="personal-info section-padding">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="content-left">
										<h2>My skills</h2>
																				
										<div class="progress-block">

											{% for specialty in admin.specialties %}
											<div class="single-progressbar">
												<div class="skill-text">
													<span>{{specialty.title}}</span>
													<span class="skill-per">{{specialty.level / 8 * 100}}%</span>
												</div>
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="{{specialty.level / 8 * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{specialty.level / 8 * 100}}%;">
													</div>
												</div>
											</div>
											{% else %}
											<b>No skills in your specialties. Head on to your profile and update your information</b>
											{% endfor %}
											
										</div><!--end progress-block-->
									</div>
									
								</div>
								
								<div class="col-xs-12 col-sm-6">
									<div class="content-right">
										<h2>About me</h2>
										<p>{{admin.about|length > 5 ? admin.about : 'Nothing to display here. If you are the owner of the website, log in to your profile and update your information.'}}</p>
										<a href="{{admin.resume|length > 5 ? admin.resume : '#'}}" class="btn btn-primary"><i class="fa fa-download"></i> Download Resume</a>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
			  <span class="close"><i class="fa fa-times"></i></span>			
		  </section>
			<!-- End Home -->
			
