			<!-- Contact -->
		  <section id="login">
				<div class="box">
					<h2><i class="fa fa-location-arrow"></i> Contact</h2>
				</div>
				
				<div class="content">
					<div class="section-padding">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="title text-center">
										<h1>Contact <span>me</span></h1>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed.</p>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
									<div class="contact-form">
										<form method="post" action="#">
											<div class="row">
												<div class="col-sm-12 col-md-6">
													<div class="form-group">
														<input type="text" placeholder="First Name" class="form-control" name="fname">
													</div>
												</div>
												<div class="col-sm-12 col-md-6">
													<div class="form-group">
														<input type="text" placeholder="Last Name" class="form-control" name="lname">
													</div>
												</div>
											</div>
											<div class="form-group">
												<input type="text" placeholder="Email Address" class="form-control" name="email">
											</div>
											
											<div class="form-group">
												<input type="text" placeholder="Subject" class="form-control" name="subject">
											</div>
											<div class="form-group">
												<textarea placeholder="Your Comments" cols="20" rows="6" class="form-control"></textarea>
											</div>
											<input type="submit" value="Submit" name="submit" class="btn btn-primary">
											
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			  <span class="close"><i class="fa fa-times"></i></span>			
		  </section>
			<!-- End Contact -->
			
