			<!-- Contact -->
		  <section id="moreactions">
				<div class="box">
					<h2><i class="fa fa-location-arrow"></i> More Actions</h2>
				</div>
				
				<div class="content">
					<div class="section-padding">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="title text-center">
										<h1>More <span>Actions</span></h1>
										<p>What would you like to do?.</p>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
									<div class="contact-form">
                                        <ul>
                                            <li><a href="{{path('default')}}">Back to homepage</a></li>
                                            <li><a href="{{path('admin')}}">Admin Page</a></li>
                                        </ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			  <span class="close"><i class="fa fa-times"></i></span>			
		  </section>
			<!-- End Contact -->
