			<!-- Portfolio -->
		  <section id="portfolio">
				<div class="box">
					<h2><i class="fa fa-archive"></i> Portfolio</h2>
				</div>
				
				<div class="content">
					<div class="section-padding">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="title text-center">
										<h1>Recent <span>Projects</span></h1>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12">
									<ul class="portfolio_items" id="portfolio_items">
									{% for project in projects %}
										<li data-panel="panel-{{project.id}}" class="portfolio">
											<div class="post_thumb">
												<img src="dist/assets/images/{{project.image}}" alt="" />
												<div class="overlay">
													<i class="fa fa-link"></i>
												</div>
											</div>
										</li>
									{% endfor %}										
									</ul><!--end portfolio_items-->
								</div>
								
								<div class="col-xs-12">
									<div class="load-more text-center">
										<a href="#" class="btn btn-primary">Load More</a>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			  <span class="close"><i class="fa fa-times"></i></span>			
		  </section>
			<!-- End Portfolio -->
			
