			<!-- Portfolio Details -->
			<div class="bl-panel-items" id="bl-panel-work-items">
			{% for project in projects %}
				<div data-panel="panel-{{project.id}}">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-7">
								<div class="project-thumb">
									<img src="dist/assets/images/{{project.image}}" alt="" />
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-12 col-md-5">
								<div class="project-desc">
									<h2>Project Description</h2>
									{{project.description}}
									<h2>Project Details</h2>
									{{project.details}}
								</div>
							</div>
							
						</div>
					</div>
				</div>
			{% endfor %}
				
				<nav>
					<span class="bl-next-work">Next Project</span>
					<span class="close"><i class="fa fa-times"></i></span>
				</nav>
			</div>
			<!-- End Portfolio Details -->
