			<!-- Work experience -->
		  <section id="work-experience">
				<div class="box">
					<h2><i class="fa fa-briefcase"></i> Work experience</h2>
				</div>
				<div class="content">
					<div class="section-padding">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="title text-center">
										<h1>Work <span>experience</span></h1>
										<p>My musical work experience.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="timeline timeline-left gray-blue">
									{% for work in workexperiences %}
										<div class="timeline-block">
											<i class="fa fa-briefcase"></i>
											<div class="timeline-icon"></div>
											<div class="timeline-content">
												<h4>{{work.companyname}}</h4>
												<p>{{work.roles}}</p>
												<div class="timeline-date">{{work.startyr}}-{{work.endyr}}
													<h4>{{work.jobtitle}}</h4>
												</div>
											</div>
										</div>
									{% else %}
										<b>There are no entries for work experience. If you are the owner of this website, log in to your profile and update your information</b>
									{% endfor %}
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			  <span class="close"><i class="fa fa-times"></i></span>			
		  </section>
			<!-- End Work experience -->
			
