<form method="post" action="{{ path('education_delete', {'id': education.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ education.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
