
{{ form_start(form) }}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="course" class="col-form-label">Course</label>
            {{ form_widget(form.course, {'attr': {'class': 'form-control', 'placeholder': 'Course'}}) }}
        </div>
        <div class="form-group col-md-4">
            <label for="level" class="col-form-label">Level</label>
            {{ form_widget(form.grade, {'attr': {'class': 'form-control', 'placeholder': 'Level'}}) }}
        </div>
        <div class="form-group col-md-4">
            <label for="level" class="col-form-label">Graduation Year</label>
            {{ form_widget(form.gradyear, {'attr': {'class': 'form-control', 'placeholder': 'Level'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-form-label">Description</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
                  