{% extends 'admin_base.html.twig' %}

{% block title %}Education index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{ path('education_new') }}" class="dropdown-item">Create new</a>
                    </div>
                </div>
                <h4 class="mt-0 header-title">Education Background</h4>
                <p class="text-muted font-14 mb-3">
                    Education entries
                </p>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Gradyear</th>
                                <th>Course</th>
                                <th>Grade</th>
                                <th>Description</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for education in education %}
                            <tr>
                                <td>{{ education.id }}</td>
                                <td>{{ education.gradyear }}</td>
                                <td>{{ education.course }}</td>
                                <td>{{ education.grade }}</td>
                                <td>{{ education.description|slice(0,30) }}</td>
                                <td>
                                    <a href="{{ path('education_show', {'id': education.id}) }}">show</a>
                                    <a href="{{ path('education_edit', {'id': education.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!--- end row -->

{% endblock %}
