{% extends 'admin_base.html.twig' %}

{% block title %}Education{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{ path('education_index') }}" class="dropdown-item">Back to list</a>
                        <!-- item-->
                        <a href="{{ path('education_edit', {'id': education.id}) }}" class="dropdown-item">Edit</a>
                        <!-- item-->
                        {{ include('education/_delete_form.html.twig') }}
                    </div>
                </div>
                <h4 class="mt-0 header-title">Education entry</h4>
                <p class="text-muted font-14 mb-3">
                    {{education.course}}
                </p>

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ education.id }}</td>
                            </tr>
                            <tr>
                                <th>Gradyear</th>
                                <td>{{ education.gradyear }}</td>
                            </tr>
                            <tr>
                                <th>Course</th>
                                <td>{{ education.course }}</td>
                            </tr>
                            <tr>
                                <th>Grade</th>
                                <td>{{ education.grade }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ education.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!--- end row -->
    
{% endblock %}
