{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<!--Preload-->
	<div class="preloader">
		<div class="preloader_image"></div>
	</div>
	
	<div class="main-container" id="main-container">
		<a class="player" data-property="{videoURL:'https://youtu.be/6MIbIZrLs1E',containment:'#main-container', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a> 
		<div id="main" class="main">
			
			{% include('include/home.html.twig') %}
			{% include('include/education.html.twig') %}
			{% include('include/work-experience.html.twig') %}
			{% include('include/portfolio.html.twig') %}
			{% include('include/blog.html.twig') %}
			{% include('include/contact.html.twig') %}
			{% include('include/portfoliodetails.html.twig') %}
			{% include('include/blogdetails.html.twig') %}
			
		</div>
		<!-- End Main -->
	</div>
	<!-- End Main Container -->
		
{% endblock %}
{% block javascripts %}
<script>

	$("#sendmessage").click( function(){

		var fname = $("#contactfname").val();
		var lname = $("#contactlname").val();
		var email = $("#contactemail").val();
		var subject = $("#contactsubject").val();
		var message = $("#contactmessage").val();
		$('#sendmessage').prop('disabled', true);
		$('#sendmessage').val('Sending');
        $.ajax({
            url:"/homepage/contact/form",
            type: "POST",
            dataType: "json",
            data: {
                "fname": fname,
                "lname": lname,
                "email": email,
                "subject": subject,
                "message": message,
            },
            async: true,
            success: function (data)
            {
				$('#sendmessage').val('Sent!');
                console.log(data);
                $("#preloader").fadeOut(250);
                console.log('faded out');
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Message sent", },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	})

</script>
{% endblock %}