{% extends 'admin_base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xl-3 col-md-6">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{path('education_new')}}" class="dropdown-item">New</a>
                        <!-- item-->
                        <a href="{{path('education_index')}}" class="dropdown-item">List</a>
                    </div>
                </div>

                <h4 class="header-title mt-0 mb-3">Education</h4>

                <div class="widget-box-2">
                    <div class="widget-detail-2 text-right">
                        <span class="badge badge-pink badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                        <h2 class="font-weight-normal mb-1"> {{edu|length}} </h2>
                        <p class="text-muted mb-3">Institutions</p>
                    </div>
                    <div class="progress progress-bar-alt-pink progress-sm">
                        <div class="progress-bar bg-pink" role="progressbar"
                                aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                style="width: 77%;">
                            <span class="sr-only">77% Complete</span>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end col -->

        <div class="col-xl-3 col-md-6">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{path('workexperience_new')}}" class="dropdown-item">New</a>
                        <!-- item-->
                        <a href="{{path('workexperience_index')}}" class="dropdown-item">List</a>
                    </div>
                </div>

                <h4 class="header-title mt-0 mb-3">Work History</h4>

                <div class="widget-box-2">
                    <div class="widget-detail-2 text-right">
                        <span class="badge badge-success badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                        <h2 class="font-weight-normal mb-1"> {{works|length}} </h2>
                        <p class="text-muted mb-3">Jobs</p>
                    </div>
                    <div class="progress progress-bar-alt-success progress-sm">
                        <div class="progress-bar bg-success" role="progressbar"
                                aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                style="width: 77%;">
                            <span class="sr-only">77% Complete</span>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end col -->

        <div class="col-xl-3 col-md-6">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{path('mymusic_new')}}" class="dropdown-item">New</a>
                        <!-- item-->
                        <a href="{{path('mymusic_index')}}" class="dropdown-item">List</a>
                    </div>
                </div>

                <h4 class="header-title mt-0 mb-3">My Music</h4>

                <div class="widget-box-2">
                    <div class="widget-detail-2 text-right">
                        <span class="badge badge-success badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                        <h2 class="font-weight-normal mb-1"> {{mymusic|length}} </h2>
                        <p class="text-muted mb-3">Songs</p>
                    </div>
                    <div class="progress progress-bar-alt-success progress-sm">
                        <div class="progress-bar bg-success" role="progressbar"
                                aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                style="width: 77%;">
                            <span class="sr-only">77% Complete</span>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end col -->

        <div class="col-xl-3 col-md-6">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{path('specialty_new')}}" class="dropdown-item">New</a>
                        <!-- item-->
                        <a href="{{path('specialty_index')}}" class="dropdown-item">List</a>
                    </div>
                </div>

                <h4 class="header-title mt-0 mb-3">Skills/Specialty</h4>

                <div class="widget-box-2">
                    <div class="widget-detail-2 text-right">
                        <span class="badge badge-pink badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                        <h2 class="font-weight-normal mb-1"> {{skills|length}} </h2>
                        <p class="text-muted mb-3">Specialties</p>
                    </div>
                    <div class="progress progress-bar-alt-pink progress-sm">
                        <div class="progress-bar bg-pink" role="progressbar"
                                aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                style="width: 77%;">
                            <span class="sr-only">77% Complete</span>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end col -->

    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xl-4">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{path('specialty_new')}}" class="dropdown-item">Add new Skill</a>
                        <!-- item-->
                        <a href="{{path('specialty_index')}}" class="dropdown-item">List of all skills</a>
                    </div>
                </div>

                <h4 class="header-title mb-3">Your skills</h4>

                <div class="inbox-widget">
                    
                    {% for skill in skills %}
                    <div class="inbox-item">
                        <a href="#">
                            <h5 class="inbox-item-author mt-0 mb-1">{{skill.title}}</h5>
                            <p class="inbox-item-text">Up to grade {{skill.level}}</p>
                            <p class="inbox-item-date">...</p>
                        </a>
                    </div>
                    {% else %}
                        <b>There are no skills added</b>
                    {% endfor %}
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-xl-8">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{path('mymusic_new')}}" class="dropdown-item">Add new music</a>
                        <!-- item-->
                        <a href="{{path('mymusic_index')}}" class="dropdown-item">List all songs</a>
                    </div>
                </div>

                <h4 class="header-title mt-0 mb-3">Your music</h4>

                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Added on</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in mymusic %}
                            <tr>
                                <td>{{song.title}}</td>
                                <td>{{song.description|slice(0,30)}}</td>
                                <td>{{song.addedOn|date("d/m/Y")}}</td>
                            </tr>
                        {% else %}
                            <b>There are no songs added</b>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- end col -->

    </div>
    <!-- end row -->       
                        
{% endblock %}
