                <!-- ========== Left Sidebar Start ========== -->
                <div class="left-side-menu">

                    <div class="slimscroll-menu">

                        <!--- Sidemenu -->
                        <div id="sidebar-menu">

                            <ul class="metismenu" id="side-menu">

                                <li class="menu-title">Navigation</li>

                                <li>
                                    <a href="{{path('admin')}}">
                                        <i class="mdi mdi-view-dashboard"></i>
                                        <span> Dashboard </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{{path('profile')}}">
                                        <i class="mdi mdi-account"></i>
                                        <span> Profile </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{{path('default')}}">
                                        <i class="mdi mdi-earth"></i>
                                        <span> Public Page </span>
                                    </a>
                                </li>

                                <li class="menu-title">Information</li>

                                <li>
                                    <a href="javascript: void(0);">
                                        <i class="mdi mdi-cast-education"></i>
                                        <span> Education </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        <li><a href="{{path('education_new')}}">New</a></li>
                                        <li><a href="{{path('education_index')}}">List</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript: void(0);">
                                        <i class="mdi mdi-office-building"></i>
                                        <span> Work Experience </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        <li><a href="{{path('workexperience_new')}}">New</a></li>
                                        <li><a href="{{path('workexperience_index')}}">List</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript: void(0);">
                                        <i class="mdi mdi-tools"></i>
                                        <span> Skills </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        <li><a href="{{path('specialty_new')}}">New</a></li>
                                        <li><a href="{{path('specialty_index')}}">List</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript: void(0);">
                                        <i class="mdi mdi-account-music"></i>
                                        <span> My Music </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        <li><a href="{{path('mymusic_new')}}">New</a></li>
                                        <li><a href="{{path('mymusic_index')}}">List</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript: void(0);">
                                        <i class="mdi mdi-playlist-star"></i>
                                        <span> Projects </span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        <li><a href="{{path('projects_new')}}">New</a></li>
                                        <li><a href="{{path('projects_index')}}">List</a></li>
                                    </ul>
                                </li>

                            </ul>

                        </div>
                        <!-- End Sidebar -->

                        <div class="clearfix"></div>

                    </div>
                    <!-- Sidebar -left -->

                </div>
                <!-- Left Sidebar End -->
