{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{name}}</h1>
      <p class="lead">I have received your message and I will get back to you as soon as possible.</p>
      <p>You can call me on working days during working hours on 0727884042. </p>
      <p>Thank you for contacting me. </p>
      <callout class="primary">
        <p>This is an automated email response, but you can respond to this email and we'll get back to you soon.</a></p>
      </callout>

    </columns>
  </row>

{% endblock %}