<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} Admin - Austine Odongo {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="{{asset('dist/assets/css/bootstrap.min.css')}}" id="bootstrap-stylesheet" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{asset('dist/assets/css/icons.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{asset('dist/assets/css/app.min.css')}}" id="app-stylesheet" rel="stylesheet" type="text/css" />

        {% block stylesheets %}
            
        {% endblock %}
    </head>

    <body>

            <!-- Begin page -->
            <div id="wrapper">

                {% include('tmp/nav.html.twig') %}
                {% include('tmp/sidebar.html.twig') %}

                <!-- ============================================================== -->
                <!-- Start Page Content here -->
                <!-- ============================================================== -->

                <div class="content-page">
                    <div class="content">

                        <!-- Start Content-->
                        <div class="container-fluid">
                            {% block body %}

                            {% endblock %}
                        </div> <!-- container-fluid -->

                    </div> <!-- content -->

                    {% include('tmp/footer.html.twig') %}


                </div>    

                <!-- ============================================================== -->
                <!-- End Page content -->
                <!-- ============================================================== -->


            </div>
        <!-- END wrapper -->                                    
        

        <!-- Vendor js -->
        <script src="{{asset('dist/assets/js/vendor.min.js')}}"></script>

        <!-- knob plugin -->
        <script src="{{asset('dist/assets/libs/jquery-knob/jquery.knob.min.js')}}"></script>

        <!--Morris Chart-->
        <script src="{{asset('dist/assets/libs/morris-js/morris.min.js')}}"></script>
        <script src="{{asset('dist/assets/libs/raphael/raphael.min.js')}}"></script>

        <!-- Dashboard init js-->
        <script src="{{asset('dist/assets/js/pages/dashboard.init.js')}}"></script>

        <!-- App js -->
        <script src="{{asset('dist/assets/js/app.min.js')}}"></script>
        <script src="{{asset('dist/assets/js/bootstrap-notify.min.js')}}"></script>
        
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}


    </body>
</html>