<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Austine Odongo{% endblock %}</title>
	<link rel="shortcut icon" href="{{asset('img/favicon.png')}}" type="image/x-icon">
    <!-- Bootstrap Core CSS -->
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
	<!-- Font-awesome-->
	<link rel="stylesheet" href="{{asset('fonts/font-awesome/css/font-awesome.min.css')}}">
	<!--Google Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet"> 
	<!--ytp player-->
	<link rel="stylesheet" href="{{asset('css/YTPlayer.css')}}">
	<!-- Main CSS -->
	<link href="{{asset('style.css')}}" rel="stylesheet">

    {% block stylesheets %}
        
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    {% block body %}
    
    {% endblock %}

	<script src="{{asset('js/jquery.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('js/modernizr.custom.js')}}" type="text/javascript"></script>
	<script src="{{asset('js/boxlayout.js')}}" type="text/javascript"></script>
	<script src="{{asset('js/newsticker.js')}}" type="text/javascript"></script>
	<script src="{{asset('js/jquery.mb.YTPlayer.min.js')}}"></script>	
	<script src="{{asset('js/script.js')}}" type="text/javascript"></script>
	
    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}

</body>
</html>


