<form method="post" action="{{ path('specialty_delete', {'id': specialty.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialty.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
