{{ form_start(form) }}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title" class="col-form-label">Title</label>
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title eg. Concert Pianist'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label for="level" class="col-form-label">Level</label>
            {{ form_widget(form.level, {'attr': {'class': 'form-control', 'placeholder': 'Level'}}) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
