{% extends 'admin_base.html.twig' %}

{% block title %}New Specialty{% endblock %}

{% block body %}
    <!-- Form row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">New Skill Entry</h4>
                <p class="text-muted mb-3 font-13">
                    Add your skill entries. The <strong>last one</strong> you will add will be the <strong>first one</strong> in the public website                    
                </p>

                {{ include('specialty/_form.html.twig') }}

            </div>
        </div>
    </div>
    <!-- end row -->        
    

    <a href="{{ path('specialty_index') }}">back to list</a>
{% endblock %}
