{% extends 'admin_base.html.twig' %}

{% block title %}Specialty{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{ path('specialty_index') }}" class="dropdown-item">Back to list</a>
                        <!-- item-->
                        <a href="{{ path('specialty_edit', {'id': specialty.id}) }}" class="dropdown-item">Edit</a>
                        <!-- item-->
                        {{ include('specialty/_delete_form.html.twig') }}
                    </div>
                </div>
                <h4 class="mt-0 header-title">Skill entry</h4>
                <p class="text-muted font-14 mb-3">
                    {{specialty.title}}
                </p>

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ specialty.id }}</td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td>{{ specialty.title }}</td>
                            </tr>
                            <tr>
                                <th>Level</th>
                                <td>{{ specialty.level }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!--- end row -->
    
{% endblock %}
